body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.heading{
  color: blueviolet;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box{
  margin: auto;
  margin-top: 50px;
  width: 281px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid blueviolet;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.button{
  background-color: blueviolet !important;
  color: white;
}
.single-product:hover {
  box-shadow: 4px 4px 30px  #6f64daa1;
  border-radius: 10px;
  border: 1px solid blueviolet;
      background-color: #eaeaea;
}
.product-image {
  width: 150px;
  height: 150px;
}
/* Cart section */
.cart {
  color: white;
  width: 350px;
  border: 3px solid #FFC720;
  padding: 10px;
  background-color: blueviolet;
  box-shadow: 3px 10px 20px #563a5e8f;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
tbody{
  color: white;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: white !important;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

